<div class="container-fluid border-bottom mb-4 fixed-top bg-light">
  <header
    class="container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3"
  >
    <div class="col-md-1 mb-2 mb-md-0">
      <a
        routerLink="/"
        routerLinkActive="active"
        class="d-inline-flex link-body-emphasis text-decoration-none"
      >
        Dating App
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <ng-container *ngIf="accountService.currUserSubject$ | async">
        <li>
          <a
            routerLink="/"
            class="nav-link px-2 link-secondary"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/members"
            class="nav-link px-2"
            routerLinkActive="active"
            >Matches</a
          >
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/lists" class="nav-link px-2"
            >Lists</a
          >
        </li>
        <li>
          <a
            routerLinkActive="active"
            routerLink="/messages"
            class="nav-link px-2"
            >Messages</a
          >
        </li>
      </ng-container>
    </ul>

    <div
      dropdown
      class="dropdown"
      *ngIf="accountService.currUserSubject$ | async"
    >
      <a dropdownToggle class="dropdown-toggle test-light text-decoration-none"
        >Welcome {{ accountService.getUsername() | titlecase }}</a
      >
      <div *dropdownMenu class="dropdown-menu">
        <a
          routerLinkActive="active"
          routerLink="/edit-profile"
          class="dropdown-item"
          >Edit Profile</a
        >
        <a
          routerLinkActive="active"
          routerLink="/"
          (click)="logout()"
          class="dropdown-item"
          >Logout</a
        >
      </div>
    </div>

    <div
      class="col-md-3 text-end"
      *ngIf="!(accountService.currUserSubject$ | async)"
    >
      <!-- <button type="button" class="btn btn-outline-primary me-2">Login</button>
      <button type="button" class="btn btn-primary">Sign-up</button> -->
    </div>
  </header>
</div>
